<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A Place Where You Help Us Help You </h1>
            <hr>
            <p> 13LoveInc. a place where we are ambitiously working towards a better tommorow for your business and the world! </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

